<!--{template print/print_header}-->
          <div class="page-header">
            <div class="page-title"><h3><i class="fa fa-bullhorn"></i> {lang news_and_announcements}</h3><span>{lang news_description}</span></div>
<!--{template print/summary_display}-->
          </div>
<!--{template print/print_note}-->
          <div class="row">
            <div class="col-md-6">
              <div class="widget">
                <div class="widget-header"><h4><i class="fa fa-bell"></i> 云打印使用说明</h4></div>
                <div class="widget-content">
                  <h3 class="main_color" style="font-weight:600;"><i class="fa fa-file-text-alt"></i> 账号申请与充值</h3>
                  <p style="text-align:justify; margin-bottom:30px;">考虑到安全问题，现在申请账号的必须是校内的人员，所以需要通过人工审核。<br>账号名建议使用英文，我们会给与一个初始的随机密码，请在 <a href="https://sustc.us/user/settings">https://sustc.us/user/settings</a> 中自行修改。<br>目前账号申请请直接<strong>联系右侧的本年级的联系人列表</strong>。<br>大家可以先通过短信或者QQ联系，以免在上课时间打扰到对方。<br>请尽量每个人自己注册一个账号，<strong>不要共用账号</strong>。<br><strong>充值请在左侧的 {lang user} &gt; {lang deposit} 下。</strong></p>
                  <h3 class="main_color" style="font-weight:600;"><i class="fa fa-file-text-alt"></i> 打印事项</h3>
                  <p style="text-align:justify; margin-bottom:30px;">当前费用为 <strong>0.2元每面</strong> 。除非必要，为了环保请务必使用双面打印。<br>目前我们的打印机为黑白激光自动双面打印机，仅支持黑白打印。<br>由于自助打印24小时都在工作，而且很快就会自动打印出来，为了减少不必要的麻烦，请大家在有需要的时候再进行打印，打印完成后请尽快到<strong>取纸点</strong>取纸，避免和其他人的混在一起。也请大家在取纸走之前注意一下有没有错拿到别人打印的纸。<br><strong>打印选项在左侧的 {lang print_service} &gt; {lang add} 下。</strong></p>
                  <h3 class="main_color" style="font-weight:600;"><i class="fa fa-file-text-alt"></i> 合作事项</h3>
                  <p style="text-align:justify; margin-bottom:30px;">我们的服务支持添加更多的打印节点，如果你有打印机想分享给大家使用可以联系我们。我们在进行兼容性测试之后会将打印机添加到节点选项中。<br>合作事项请加QQ群 198106532 注明合作意向。</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12">
                  <div class="widget">
                    <div class="widget-header">
                      <h4><i class="fa fa-print"></i> {lang pages_already_printed}</h4>
                    </div>
                  </div>
                </div>
<!--{template print/print_stats}-->
              </div>
              <div class="widget">
                <div class="widget-header"><h4><i class="fa fa-phone"></i> {lang contacts}</h4></div>
                <div class="widget-content table-responsive">
                  <p>请加入QQ群 40148035 与我们联系。</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <!--{template index/news_widget}-->
            </div>
            <div class="col-md-6">
              <?php /*
              <div class="widget">
                <div class="widget-header"><h4><i class="fa fa-twitter"></i> Check our twitter channel for short news!</h4></div>
                <div class="widget-content" data-twttr-id="twttr-sandbox-0"><iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-timeline twitter-timeline-rendered" style="border: none; max-width: 100%; min-width: 180px;" title="Twitter Timeline" width="520" height="500"></iframe><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></div>
              </div> */ ?>
            </div>
          </div>
<!--{template print/print_footer}-->