          <!--{template common/footer_info}-->
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/static/legacy/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/static/legacy/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/legacy/js/sustc.js"></script>
    <script type="text/javascript" src="/static/legacy/js/lodash.compat.min.js"></script>
    <!--[if lt IE 9]><script src="/static/legacy/js/html5shiv.js"></script><![endif]-->
    <script type="text/javascript" src="/static/legacy/js/jquery.uniform.min.js"></script>
    <script type="text/javascript" src="/static/legacy/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/static/legacy/js/nprogress.js"></script>
    <script type="text/javascript" src="/static/legacy/js/jquery-ui-1.10.2.custom.min.js"></script>
    <script type="text/javascript" src="/static/legacy/js/jquery.ui.touch-punch.min.js"></script>
    <script type="text/javascript" src="/static/legacy/js/breakpoints.js"></script>
    <script type="text/javascript" src="/static/legacy/js/jquery.slimscroll.min.js"></script>
    <script type="text/javascript" src="/static/legacy/js/jquery.slimscroll.horizontal.min.js"></script>
    <script type="text/javascript" src="/static/legacy/js/app.js"></script>
    <script>
      $(document).ready(function(){
        "use strict";
        App.init();
        $('span[rel=popover]').popover();
        $(':radio.uniform, :checkbox.uniform').uniform();
        //print node list, in /print/add page
        var node_list = $('select#node_list');
        if (node_list && node_list.length > 0) {
          var node_list_change = function () {
            //$(this).val()
            var id = parseInt(node_list.val());
            if (window.cp_nodes) {
              var node = cp_nodes[id];
              var dupchecker = $('#check_duplex');
              var colchecker = $('#check_colorful');
              if (node.duplex) {
                dupchecker.find('input').prop("checked", true).prop("disabled", false);
                dupchecker.find('.checker').removeClass('disabled').find('span').addClass('checked');
                $('#alert_duplex').addClass('hide');
              } else {
                dupchecker.find('input').prop("checked", false).prop("disabled", true);
                dupchecker.find('.checker').addClass('disabled').find('span').removeClass('checked');
                $('#alert_duplex').removeClass('hide');
              }
              if (node.colorful) {
                colchecker.find('input').prop("checked", true).prop("disabled", true);
                colchecker.find('.checker').addClass('disabled').find('span').addClass('checked');
              } else {
                colchecker.find('input').prop("checked", false).prop("disabled", true);
                colchecker.find('.checker').addClass('disabled').find('span').removeClass('checked');
              }
              if (node.status == 1) {
                $('#alert_offline').addClass('hide');
              } else {
                $('#alert_offline').removeClass('hide');
              }
            }
          }
          node_list.change(node_list_change);
          node_list_change();
        }
      });
    </script>
  </body>
</html>