          <div class="row">
            <div class="col-md-12">
              <div class="note note-success">
                <div class="">
                  <h2>{lang note}:</h2>
                  <p><strong>在线充值</strong>: <a href="https://sustc.us/user/deposit">https://sustc.us/user/deposit</a> (现在已经可以正常使用)</p>
                  <p>现支持 <strong>XPS文档 自定义打印格式</strong> (每版多页、打印范围等)，详情请查看 <a href="https://sustc.us/page/print#custom" target="_blank">https://sustc.us/page/print#custom</a></p>
                  <p>欢迎加入QQ群: 40148035</p>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="note note-danger">
                <div class="">
                  <h2>{lang warn}:</h2>
                  <p>如果状态中提示失败，请不要急于重新上传文档再次打印，实际上可能已经顺利打印完成，如果在取纸点实在是没有找到请在QQ群中联系我们。<br>一般造成这种情况的原因可能是同时有多份文档在进行打印，我们目前正在尝试解决这个问题。</p>
                  <p>另外请大家在取纸走之前注意一下有没有错拿到别人打印的纸。</p>
                </div>
              </div>
            </div>
          </div>
