          <div class="row">
            <div class="col-md-12" style="padding: 15px; margin-bottom: 5px; margin-top: 5px;" id="footer_col">
              <!-- <script type="text/javascript">$(document).ready(function(){"use strict";adjustFooterMargin();});</script> -->
              <!--{eval { $gentimeinms = sprintf("%0.03f", getgeneratetime() * 1000);}-->
              <div class="row hidden-xs hidden-sm">
                <div class="col-md-4 align-center"></div>
                <div class="col-md-4 align-center" style="font-weight:600; text-transform: uppercase;">&copy; 2014 {lang sustc_it}<br><a href="/page/about" target="_blank">{lang about}</a> | <a href="/page/thanks" target="_blank">{lang thanks}</a></div>
                <div class="col-md-4 align-center"><?php /*Users online: <span class="display_onlineusers">729</span> | Workers: 64410 */ ?><br>Site generated in {$gentimeinms}ms</div>
              </div>
              <div class="row visible-xs visible-sm">
                <div class="col-md-4 align-center"></div>
                <div class="col-md-4 align-center" style="padding-top:20px; padding-bottom:20px;"><?php /*Users online: <span class="display_onlineusers">729</span> | Workers: 64410 */ ?><br>Site generated in {$gentimeinms}ms</div>
                <div class="col-md-4 align-center" style="font-weight:600; text-transform: uppercase;">&copy; 2014 {lang sustc_it}<br><a href="/page/about" target="_blank">{lang about}</a> | <a href="/page/thanks" target="_blank">{lang thanks}</a></div>
              </div>
              <!--{eval } }-->
            </div>
          </div>