    <!-- <link rel="stylesheet" type="text/css" href="/static/legacy/css/all.min.css" /> -->
    <link rel="stylesheet" type="text/css" href="/static/legacy/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/legacy/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/legacy/css/main.css?v=20141105" />
    <link rel="stylesheet" type="text/css" href="/static/legacy/css/responsive.css" />
    <link rel="stylesheet" type="text/css" href="/static/legacy/css/plugins/uniform.css" />

    <!-- <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:400,600,700" /> -->
    <link rel="stylesheet" type="text/css" href="/static/legacy/css/font-OpenSans.css" />

    <link rel="stylesheet" type="text/css" href="/static/legacy/css/sustc.css?v=20140420" />
