      <div id="project-switcher" class="container project-switcher">
        <div id="scrollbar">
          <div class="handle"></div>
        </div>
        <div id="frame">
          <ul class="project-list" style="width: 1017px;">
            <li><a href="/print/"><span class="image"><img src="/static/legacy/img/cloudprint_logo.png" alt="cloudPrint"></span><span class="title">{lang cloudprint}</span></a></li>
            <li><a href="/survey/"><span class="image"><img src="/static/legacy/img/survey_logo.png" alt="Survey"></span><span class="title">{lang survey}</span></a></li>
            <li><a href="/clear/"><span class="image"><img src="/static/legacy/img/clear_logo.png" alt="Clear"></span><span class="title">{lang project_clear}</span></a></li>
          </ul>
        </div>
      </div>