        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown hidden-xs hidden-sm">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-flag"></i> Languages <i class="fa fa-caret-down small"></i></a>
            <ul id="ddLanguages" class="dropdown-menu">
              <li><a href="/print/?locale=en">English</a></li>
              <li><a href="/print/?locale=zh_CN">简体中文</a></li>
            </ul>
          </li>
          <!--{if $sustc->user->islogin()}-->
          <li class="bs-tooltip" data-placement="bottom" data-original-title="{lang notifications}">
            <a href="/user/notification"><i class="fa fa-info-circle"></i><span class="badge" id="notificationBadge"><!--{if $sustc->user->new_notification > 0}--><!--{eval echo $sustc->user->new_notification}--><!--{/if}--></span></a>
          </li>
          <!-- <li class="dropdown hidden-xs hidden-sm">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i><span class="badge" id="msgNotificationL3"></span></a>
            <ul id="msgNotificationU1" class="dropdown-menu extended notification">
              <li class="title"><p>You have 0 new messages.</p></li>
              <li class="footer">
                <a href="/user/messages">{lang view_all_messages}</a>
              </li>
            </ul>
          </li> -->
          <li class="dropdown user">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-male"></i>
              <span class="username"><!--{eval echo $sustc->user->username}--></span>
              <i class="fa fa-caret-down small"></i>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/user/profile"><i class="fa fa-user"></i> {lang myprofile}</a></li>
              <li><a href="/user/deposit"><i class="fa fa-cny" style="width: 11px;"></i> {lang deposit}</a></li>
              <li><a href="/user/settings"><i class="fa fa-wrench"></i> {lang settings}</a></li>
              <!-- formhash={$_G['formhash']} -->  
              <li><a href="/user/logout?csrf={$_G['usercsrf']}"><i class="fa fa-key"></i> {lang logout}</a></li>
            </ul>
          </li>
          <!--{else}-->
          <li class="user"><a href="/user/signin"><i class="fa fa-sign-in"></i> {lang signin}</a></li>
          <!--{/if}-->
        </ul>