              <div class="widget">
                <div class="widget-header"><h4><i class="fa fa-bars"></i> {lang news_timeline}</h4></div>
                <div class="widget-content">
                  <h3 class="main_color" style="font-weight:600;"><i class="fa fa-file-text-alt"></i> cloudPrint (beta) launched! - 2014-03-29</h3>
                  <p style="text-align:justify; margin-bottom:30px;">Everywhere, Everytime, Everybody.<br>Our 24/7 printer node locate at #302, 3rd Student dormitory.<br><br>If you want to run a printer node, please contact us.</p>
                  <h3 class="main_color" style="font-weight:600;"><i class="fa fa-file-text-alt"></i> Survey launched! - 2013-09-12</h3>
                  <p style="text-align:justify; margin-bottom:30px;">Now you can do a survey on our site.<br><br>If you want to create a new survey, please contact us.</p>
                </div>
              </div>