<!--{template common/header}-->
		<title>{lang deposit} - {lang sustc_us}</title>
		
<!--{template common/header_style}-->
<!--{template user/user_header}-->
		<div class="box">
			<div class="content">
				<div class="alert alert-success fade in" style="margin-top:0px; margin-bottom:10px;">
					<i class="fa fa-check" data-dismiss="alert"></i>
					{lang jumping}
				</div>
				{$trade_html}
			</div>
			<div class="inner-box">
				<div class="content">
					<a href="/"><i class="fa fa-angle-left"></i> {lang back_to_homepage}</a>
				</div>
			</div>
		</div>
<!--{template user/user_footer}-->